@font-face {
  font-family: FuturaMedium;
  src: url("../font/Futura LT Medium.woff") format("woff"), url("../font/Futura LT Medium.ttf")  format("truetype");
}

body{
  font-family: "FuturaMedium";
  letter-spacing: 0.18em;
  height:100vh
}

#root{
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

#scrollLeft, #scrollRight{
  position: absolute;
  height:100%;
  width:30px;
  background-color:rgba(205,202,202,0.3);
  z-index: 1;
  cursor: pointer
}

#scrollRight img, #scrollLeft img{
  opacity: 1;
  height: 25px;
  width: 15px;
}

#scrollRight{
  right:0
}

#scrollLeft{
  transform: rotateY(180deg)
}
.navbar-hover:hover{
    color: 
    rgba(255,255,255,.75) !important;
    cursor: pointer
}
.img-row, .expand-container{
  display: inline-flex;
  flex: 1;
  flex-basis: 0;
  min-height: 0;
}
.img-row.Desktop{
  height:33%;
}
.img-row.Mobile{
  height:50%;
}
.flex-fill{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 0;
  transition: transform 1.5s;
}
.img-row.Desktop:last-child{
  height:34%
}

.img-row img{
  max-width: 100%;
  max-height:100%;
  width:auto;
  transition: transform 1s;
  cursor:pointer;
  z-index: 2
}

.img-row img:hover{
  transform: scale(1.1);
  z-index: 3
}

.bg-expand{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index:10;
  display: flex;
}

.expand-container{
  height:75%;
  position: relative;
}

.expand-container img.fullres{
  height: 100%;
  width: auto;
  position: absolute;
  box-shadow: 0px 4px 8.19px 0.81px
  rgba(0, 0, 0, 0.72);

  left: 50%;
  transform: translate(-50%);
}


.fullres-arrow{
   height: 30px;
     width: 30px;
    z-index: 11;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #282828;
  color: #cdcaca;
  display: inline-flex
}

.navbar{
  background-image: url('../img/bar_bg.png');
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.72);
}
.dropdown-menu{
  margin: 0;
  border:0;
  border-radius: 0;
  background-color: #282828; 
}
.dropdown-item {

  display: inline

}

.nav-pills .show > .nav-link {
  background-color: #282828; 
}

.dropdown.nav-item, .dropdown-item:hover {
  color: rgba(255,255,255,.5);
  
}

.dropdown-item:hover, .dropdown.nav-item.current {
  background-color: #282828; 
}

a.dropdown-item:not([href]) {
  color: rgba(255,255,255,.5);
  background-color: #282828; 
  text-transform: uppercase;
}

a.dropdown-item:not([href]):hover, .dropdown.nav-item.current, a.dropdown-item.current:not([href]) {
  color: white;
  background-color: #282828; 
}

.dropdown.nav-item{
  cursor: pointer;
  text-transform: uppercase;
}

@media only screen and (min-width: 576px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .nav-pills .nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 0;
  }

  .fitty {
    display: inline-block;
    white-space: nowrap;
  }
  .navbar-text{
    margin-left: 5px;
  }
}
.navbar-text{
  margin-left: 0px;
}

.deviceRow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}



.nav-link{
  margin: auto;
}

.nav-link.current{
  background-color: #282828;
}



.navbar, .footer{
  z-index: 2;
}

.dropdown-menu {
  margin-top: 0;
}


.modal-btn{
  color:
  #282828;
border-color:
#282828
}

.modal-btn:hover {

  color: 

#fff;

background-color:
#282828;

border-color:

#282828;

}


.logo-img{
  height:25px 
}

footer img{
  height: 40px
}

footer .row{
  padding-left: 25px;
  padding-right: 25px;
}
